.home-container {
	height: 100%;
	width: 100%;
	background: #1A1C21;
	min-width: 1440px;
	overflow: hidden;

	.loading {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.999);
		z-index: 10;

		>>> .loading-tip {
			color: #fff;
			margin-top: 10px;
		}
	}

	section {
		position: relative;
		height: 100%;
	}

	.bank-baking-preview {
		height: 260px;
		position: absolute;
		top: 102px;
		left: 1107px;
		z-index: 3;
		color: #fff;

		h3 {
			font-size: 61px;
			letter-spacing: 7px;
			margin-left: 20px;
			font-weight: 400;

			div {
				height: 20px;
				width: 20px;
				border-width: 0 0 6px 6px;
				border-color: #fff;
				border-style: solid;
				transform: rotate(45deg);
				float: left;
				margin: 35px 35px 0 -60px;
				cursor: pointer;
			}
		}

		.bank-list {
			ul {
				display: flex;
				width: 100%;

				li {
					width: 144px;
					height: 144px;
					background-image: url('../../assets/oval.png');
					background-size: contain;
					font-size: 27px;
					letter-spacing: 4px;
					word-wrap: break-word;

					p {
						text-align: center;
						width: 70px;
						margin: 0 auto;
						padding-top: 32px;
						cursor: pointer;
						opacity: 0.5;
					}

					p:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	.user-data-preview {
		height: 100%;
		width: 100%;

		.data-overview {
			.user-details {
				background: rgba(16, 16, 21, 0.6);
				border: 1px solid rgba(56, 155, 255, 0.25);

				> ul {
					margin-top: 20px;

					> li {
						list-style: none;
						margin-bottom: 25px;

						> div:first-child {
							padding: 0 20px;
							display: flex;
							align-items: center;
							margin: 0 0 10px;
							justify-content: space-between;

							> p {
								font-size: 33px;
								color: #32A3F1;
							}

							> div {
								color: #4AC84A;
								font-size: 14px;

								.decline {
									color: #DA3924;
								}

								> img {
									position: relative;
									top: 2px;
								}
							}
						}

						> div:last-child {
							width: 150px;
							height: 28px;
							line-height: 28px;
							font-size: 13px;
							color: rgba(255, 255, 255, 0.7);
							padding-left: 20px;
							margin-top: 5px;
							background: linear-gradient(270deg, rgba(21, 114, 213, 0) 2%, #1988FF 100%);
						}
					}
				}
			}

			.city-ranking {
				margin-top: 10px;
				min-height: 250px;
				height: calc(100% - 465px);
				padding: 0 20px;
				background: rgba(16, 16, 21, 0.6);
				border: 1px solid rgba(56, 155, 255, 0.25);

				> .content-title {
					padding-left: 0;
				}

				.ranking {
					width: 100%;
					margin-top: 15px;
					height: calc(100% - 60px);
				}
			}
		}

		.live-status-wrap {
			.live-status {
				overflow: hidden;
				height: 100%;
				background: rgba(0, 0, 0, 0.7);
			}

			.status-details {
				height: 100%;
				width: 100%;

				.chartsBlock {
					margin: 0 auto;
					padding-top: 30px;
				}

				.dataSiderList {
					margin-left: 34px;

					// 左侧
					.bankAddLine-charts {
						width: 800px;
						height: 250px;
						padding-bottom: 30px;
					}

					.bankDistributed-charts {
						width: 800px;
						height: 350px;
						padding-bottom: 50px;
						// position: absolute;
						// top: 0;
						// left: 50%;
						// transform: translate(-50%, 0);
					}

					.bankProportion-charts {
						width: 800px;
						height: 250px;
						padding-bottom: 40px;
					}

					.bankKind-charts {
						width: 800px;
						height: 350px;
						padding-bottom: 40px;
					}

					// 右侧
					.firmOverview {
						margin: 0 auto;
						width: 810px;
						font-size: 27px;
						display: flex;
						padding-bottom: 45px;

						.firmOverview-left {
							.firmOverview-num-wrap {
								.firmOverview-num-title {
									padding-left: 15px;
									border-left: 6px solid #3779fd;
									line-height: 27px;
									margin-top: 35px;
								}

								.firmOverview-num {
									font-size: 44px;
									color: #2c61ca;
									margin-top: 43px;
									line-height: 44px;
									padding-bottom: 10px;
									font-weight: bold;

									span {
										color: #fff;
										font-size: 27px;
										font-weight: normal;
										margin-left: 22px;
									}
								}
							}

							.firmOverview-echart-wrap {
								.firmOverview-echart {
									width: 300px;
									height: 300px;
								}
							}
						}

						.firmOverview-right {
							margin-left: 83px;

							p {
								padding-left: 15px;
								border-left: 6px solid #3779fd;
								line-height: 27px;
								margin-top: 35px;
								margin-left: 19px;
							}

							.firmOverview-right-table {
								margin-top: 27px;

								table {
									width: 422px;
									text-align: center;
									font-size: 12px;

									thead {
										font-size: 17px;
										color: #3779fd;

										.rank {
											width: 94px;
										}

										.score {
											width: 94px;
										}
									}

									tbody {
										tr:nth-child(odd) {
											background: #10152c;
										}
									}
								}
							}
						}
					}

					.firmProBank-charts {
						width: 800px;
						height: 300px;
						padding-left: 68px;
						padding-bottom: 30px;
					}

					.capitalScale-charts {
						width: 800px;
						height: 300px;
						padding-bottom: 50px;
					}
				}
			}
		}
	}

	.left-layout {
		position: absolute;
		left: 0;
		top: 20px;
		z-index: 2;
		width: 960px;
		overflow-y: auto;
		height: 1566px;

		&::-webkit-scrollbar {
			display: none;
		}

		.titlePubilc {
			color: #d5e3ff;
			margin: 19px 0 0 55px;
			height: 160px;
			width: 865px;
			padding-top: 20px;
			padding-left: 20px;
			letter-spacing: 5px;
			position: relative;

			.titlePubilc-img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.title-bank {
				font-size: 38px;

				span {
					margin-left: 60px;
					margin-right: 45px;
					font-size: 47px;
					font-weight: 700;
					color: #3779fd;
				}
			}

			.title-bank-add {
				font-size: 31px;
				margin-top: 15px;

				span {
					color: #3779fd;
					margin-left: 65px;
					color: #bb2247;
				}
			}
		}
	}

	.right-layout {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
		width: 960px;
		height: 100%;
		overflow-y: auto;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.content-title {
		color: #389BFF;
		font-weight: 600;
		// margin-top 10px
		font-size: 16px;
		padding: 20px 0 0 20px;

		&::before {
			content: ' ';
			width: 10px;
			height: 10px;
			margin-right: 6px;
			display: inline-block;
			border-radius: 50%;
			background: #389BFF;
		}
	}

	#map {
		position: relative;
		z-index: 1;
	}
}
