
.fade-enter-active, .fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to { /* .fade-leave-active below version 2.1.8 */
	opacity: 0;
}

.home-container {
	height: 100%;
	width: 100%;
	background: #1A1C21;
	min-width: 1440px;
	overflow: hidden;

	.line-title {
		padding-left: 15px;
		border-left: 6px solid #3779fd;
		line-height: 27px;
		margin-top: 35px;
	}

	.loading {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.999);
		z-index: 10;

		>>> .loading-tip {
			color: #fff;
			margin-top: 10px;
		}
	}

	section {
		position: relative;
		height: 100%;
	}

	.bank-baking-preview {
		height: 260px;
		position: absolute;
		top: 102px;
		left: 1107px;
		z-index: 3;
		color: #fff;

		h3 {
			font-size: 61px;
			letter-spacing: 7px;
			margin-left: 20px;
			font-weight: 400;

			div {
				height: 20px;
				width: 20px;
				border-width: 0 0 6px 6px;
				border-color: #fff;
				border-style: solid;
				transform: rotate(45deg);
				float: left;
				margin: 35px 35px 0 -60px;
				cursor: pointer;
			}
		}

		.bank-list {
			ul {
				display: flex;
				width: 100%;

				li {
					width: 144px;
					height: 144px;
					background-image: url('../../assets/oval.png');
					background-size: contain;
					font-size: 27px;
					letter-spacing: 4px;
					word-wrap: break-word;

					p {
						text-align: center;
						width: 70px;
						margin: 0 auto;
						padding-top: 32px;
						cursor: pointer;
						opacity: 0.5;
					}

					p:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	.user-data-preview {
		height: 100%;
		width: 100%;

		.data-overview {
			.user-details {
				background: rgba(16, 16, 21, 0.6);
				border: 1px solid rgba(56, 155, 255, 0.25);

				> ul {
					margin-top: 20px;

					> li {
						list-style: none;
						margin-bottom: 25px;

						> div:first-child {
							padding: 0 20px;
							display: flex;
							align-items: center;
							margin: 0 0 10px;
							justify-content: space-between;

							> p {
								font-size: 33px;
								color: #32A3F1;
							}

							> div {
								color: #4AC84A;
								font-size: 14px;

								.decline {
									color: #DA3924;
								}

								> img {
									position: relative;
									top: 2px;
								}
							}
						}

						> div:last-child {
							width: 150px;
							height: 28px;
							line-height: 28px;
							font-size: 13px;
							color: rgba(255, 255, 255, 0.7);
							padding-left: 20px;
							margin-top: 5px;
							background: linear-gradient(270deg, rgba(21, 114, 213, 0) 2%, #1988FF 100%);
						}
					}
				}
			}

			.city-ranking {
				margin-top: 10px;
				min-height: 250px;
				height: calc(100% - 465px);
				padding: 0 20px;
				background: rgba(16, 16, 21, 0.6);
				border: 1px solid rgba(56, 155, 255, 0.25);

				> .content-title {
					padding-left: 0;
				}

				.ranking {
					width: 100%;
					margin-top: 15px;
					height: calc(100% - 60px);
				}
			}
		}

		.live-status-wrap {
			.live-status {
				overflow: hidden;
				height: 100%;
				background: rgba(0, 0, 0, 0.92);
			}

			.status-details {
				height: 100%;
				width: 100%;

				.chartsBlock {
					margin: 0 auto;
					padding-top: 30px;
				}

				.dataSiderList {
					margin-left: 34px;

					// 左侧
					.bankAddLine-charts {
						width: 800px;
						height: 250px;
						padding-bottom: 30px;
					}

					.bankDistributed-charts {
						width: 800px;
						height: 350px;
						padding-bottom: 50px;
						// position: absolute;
						// top: 0;
						// left: 50%;
						// transform: translate(-50%, 0);
					}

					.bankProportion-charts {
						width: 800px;
						height: 250px;
						padding-bottom: 40px;
					}

					.bankKind-charts {
						width: 800px;
						height: 350px;
						padding-bottom: 50px;
					}

					// 右侧
					.firmOverview {
						margin: 0 auto;
						width: 810px;
						font-size: 27px;
						display: flex;
						padding-bottom: 45px;
						height: 550px;

						.firmOverview-left {
							.firmOverview-num-wrap {
								.firmOverview-num {
									font-size: 44px;
									color: #2c61ca;
									margin-top: 43px;
									line-height: 44px;
									padding-bottom: 10px;
									font-weight: bold;

									span {
										color: #fff;
										font-size: 27px;
										font-weight: normal;
										margin-left: 22px;
									}
								}
							}

							.firmOverview-echart-wrap {
								.firmOverview-echart {
									width: 300px;
									height: 300px;
								}
							}
						}

						.firmOverview-right {
							margin-left: 83px;
							height: 100%;

							p {
								padding-left: 15px;
								border-left: 6px solid #3779fd;
								line-height: 27px;
								margin-top: 35px;
								margin-left: 19px;
							}

							.firmOverview-right-table {
								margin-top: 27px;
								height: 100%;
								width: 100%;

								table {
									border-collapse: collapse;
									width: 422px;
									text-align: center;
									font-size: 12px;
									table-layout: fixed;

									td {
										white-space: nowrap;
										text-overflow: ellipsis;
										overflow: hidden;
									}

									thead {
										font-size: 17px;
										color: #3779fd;

										tr, .rank {
											width: 94px;
										}

										.score {
											width: 94px;
										}
									}

									tbody {
										tr {
											height: 40px;
										}

										tr:nth-child(odd) {
											background: #10152c;
										}
									}
								}
							}
						}
					}

					.firmProBank-charts {
						width: 800px;
						height: 300px;
						padding-left: 68px;
						padding-bottom: 30px;
					}

					.capitalScale-charts {
						width: 800px;
						height: 300px;
						padding-bottom: 50px;
					}

					// 银行信息页面
					.bank-info {
						display: flex;
						font-size: 29px;
						color: #cccccc;
						margin-left: 50px;
						padding-bottom: 70px;
						margin-top: 30px;
						overflow: hidden;

						p {
							margin-top: 17px;
						}

						.info {
							margin-left: 33px;

							p {
								overflow: hidden; // 超出的文本隐藏
								text-overflow: ellipsis; // 溢出用省略号显示
								white-space: nowrap;
								width: 600px;
							}
						}
					}

					.bank-finance-info {
						display: flex;
						color: #cccccc;
						margin-left: 78px;
						width: 750px;
						padding-bottom: 70px;
						margin-top: 27px;
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;

						.bank-deposit {
							width: 350px;

							.bank-deposit-info-title {
								margin-top: 23px;
								color: #cccccc;
								font-size: 17px;

								.bank-deposit-info-title-raio {
									margin-left: 25px;
								}
							}

							.bank-deposit-info {
								color: #2755b2;
								font-size: 32px;
								font-weight: bold;
								display: flex;
								flex-wrap: wrap;
								justify-content: space-between;

								span {
									font-size: 18px;
									font-weight: normal;
								}
							}

							.bank-deposit-title {
								color: #cdcdcd;
								font-size: 26px;
								text-align: center;
							}

							.bank-deposit-block-wrap {
								width: 100%;
								height: 95px;
								border: 2px solid #2653ac;
								position: relative;
								margin-top: 16px;
								border-radius: 8px;

								.bank-deposit-block {
									background: #2653ac;
									opacity: 0.5;
									width: 100%;
									height: 95px;
								}

								p {
									position: absolute;
									top: 0;
									font-size: 48px;
									color: #2a5cc1;
									font-weight: bold;
									left: 70px;
									top: 10px;

									span {
										font-size: 26px;
										margin-left: 10px;
										color: #b7bac2;
										font-weight: normal;
									}
								}
							}
						}

						.bank-loan {
							width: 350px;

							.bank-loan-info-title {
								margin-top: 23px;
								color: #cccccc;
								font-size: 17px;

								.bank-loan-info-title-raio {
									margin-left: 25px;
								}
							}

							.bank-loan-info {
								color: #b3495c;
								font-size: 32px;
								font-weight: bold;
								display: flex;
								flex-wrap: wrap;
								justify-content: space-between;

								span {
									font-size: 18px;
									font-weight: normal;
								}
							}

							.bank-loan-title {
								color: #cdcdcd;
								font-size: 26px;
								text-align: center;
							}

							.bank-loan-block-wrap {
								width: 100%;
								height: 95px;
								border: 2px solid #ac3150;
								position: relative;
								margin-top: 16px;
								border-radius: 8px;

								.bank-loan-block {
									background: #330f18;
									opacity: 0.5;
									width: 100%;
									height: 95px;
								}

								p {
									position: absolute;
									top: 0;
									font-size: 48px;
									color: #c14d63;
									font-weight: bold;
									left: 70px;
									top: 10px;

									span {
										font-size: 26px;
										margin-left: 10px;
										color: #b7bac2;
										font-weight: normal;
									}
								}
							}
						}
					}

					.depositTrend-charts {
						width: 800px;
						height: 380px;
						padding-bottom: 50px;
					}

					.surrounding-charts {
						width: 800px;
						height: 750px;
						padding-bottom: 50px;

						.surrounding-right-table {
							height: 100%;
							table {
									border-collapse: collapse;
									width: 802px;
									text-align: center;
									font-size: 12px;
									table-layout: fixed;

									td {
										white-space: nowrap;
										text-overflow: ellipsis;
										overflow: hidden;
									}

									thead {
										font-size: 17px;
										color: #3779fd;

										tr, .rank {
											width: 800px;
										}

										.score {
											width: 200px;
										}
									}

									tbody {
										tr {
											height: 40px;
										}

										tr:nth-child(odd) {
											background: #10152c;
										}
									}
								}
							// table {
							// 	border-collapse: collapse;
							// 	text-align: center;
							// 	font-size: 22px;
							// 	overflow hidden

							// 	td {
							// 		white-space: nowrap;
							// 		text-overflow: ellipsis;
							// 		overflow: hidden;
							// 	}

							// 	thead {
							// 		font-size: 26px;
							// 		color: #3779fd;
							// 		line-height: 100px;

							// 		tr {
							// 			width: 50px;
							// 		}
							// 	}

							// 	tbody {
							// 		tr {
							// 			height: 80px;
							// 		}

							// 		tr:nth-child(odd) {
							// 			background: #10152c;
							// 		}
							// 	}
							// }
						}
					}

					// 企业信息页面
					.enterprise-potential-analysis {
						width: 800px;
						height: 952px;
						padding-left: 50px;

						.firmPotential-top {
							display: flex;
							margin-top: 35px;

							.relation-echarts {
								width: 575px;
								height: 309px;
								background: #100c2a;
								border-radius: 5px;
							}

							.relation-gauge {
								margin-left: 20px;
								color: #dedee0;
								font-size: 14px;

								p {
									margin: 0;
								}

								.relation-gauge-top {
									width: 210px;
									height: 133px;
									background: #100c2a;
									border-radius: 5px;
									padding-top: 10px;
									padding-left: 10px;

									p {
										font-size: 12px;
										margin-top: 4px;
									}
								}

								.relation-gauge-bottom {
									width: 210px;
									height: 133px;
									background: #100c2a;
									border-radius: 5px;
									margin-top: 25px;
									padding-top: 10px;
									padding-left: 10px;
								}
							}
						}

						.firmPotential-center {
							display: flex;
							margin-top: 16px;

							p {
								margin: 0;
							}

							.firmPotential-center-top {
								width: 421px;
								height: 224px;
								background: #100c2a;
								border-radius: 5px;

								p {
									margin: 25px 0 10px 25px;
								}

								table {
									margin: 0 auto;
									width: 90%;

									thead {
										tr {
											th {
												font-weight: 400;
											}
										}
									}
								}
							}

							.firmPotential-center-bottom {
								width: 360px;
								height: 224px;
								background: #100c2a;
								margin-left: 40px;
								border-radius: 5px;

								.firmPotential-center-bottom-echart {
									width: 320px;
									height: 200px;
								}

								p {
									margin: 25px 0 10px 25px;
								}
							}
						}

						.firmPotential-bottom {
							height: 304px;
							width: 100% -20px;
							background: #020a29;
							margin-top: 24px;
							border-radius: 5px;
							padding-top: 20px;
							padding-left: 20px;

							.firmPotential-bottom-echarts {
								width: 600px;
								height: 200px;
								margin: 0 auto;
								padding-top: 40px;
							}

							p {
								margin: 0;
							}
						}
					}

					.firmScore {
						display: flex;
						padding-bottom: 30px;

						.firmScore-left-wrap {
							margin-top: 35px;
							margin-left: 50px;
							border-radius: 5px;

							.firmScore-left {
								width: 470px;
								height: 350px;
								background: #100c2a;
								padding-top: 20px;
							}

							p {
								text-align: center;
								line-height: 70px;
							}
						}

						.firmScore-right {
							width: 341px;
							margin-top: 30px;
							margin-left: 30px;
							text-align: center;

							.rank {
								width: 100px;
							}

							.score {
								width: 130px;
							}

							thead {
								tr {
									th {
										color: #2c61ca;
									}
								}
							}
						}
					}

					.firmProduct {
						padding-bottom: 50px;

						.firmProduct-table {
							width: 832px;
							margin: 0 auto;

							table {
								border-collapse: collapse;
								width: 832px;
								text-align: center;

								tr {
									height: 60px;
								}
							}
						}
					}

					.business-scope {
						padding-bottom: 60px;

						.business-block {
							background: #222222;
							width: 790px;
							height: 240px;
							margin: 0 auto;
							font-size: 18px;
							color: #8f8f8f;
							padding: 20px;

							p {
								text-indent: 40px;
							}
						}
					}
				}
			}
		}
	}

	.left-layout {
		position: absolute;
		left: 0;
		top: 20px;
		z-index: 2;
		width: 960px;
		overflow-y: auto;
		height: 1566px;

		&::-webkit-scrollbar {
			display: none;
		}

		.titlePubilc {
			color: #d5e3ff;
			margin: 19px 0 0 55px;
			height: 160px;
			width: 865px;
			padding-top: 20px;
			padding-left: 20px;
			letter-spacing: 5px;
			position: relative;

			.titlePubilc-img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.title-bank {
				font-size: 38px;

				span {
					margin-left: 60px;
					margin-right: 45px;
					font-size: 47px;
					font-weight: 700;
					color: #3779fd;
				}
			}

			.title-bank-add {
				font-size: 31px;
				margin-top: 15px;

				span {
					color: #3779fd;
					margin-left: 65px;
					color: #bb2247;
				}
			}
		}
	}

	.right-layout {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
		width: 960px;
		height: 100%;
		overflow-y: auto;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.content-title {
		color: #389BFF;
		font-weight: 600;
		// margin-top 10px
		font-size: 16px;
		padding: 20px 0 0 20px;

		&::before {
			content: ' ';
			width: 10px;
			height: 10px;
			margin-right: 6px;
			display: inline-block;
			border-radius: 50%;
			background: #389BFF;
		}
	}

	#map {
		position: relative;
		z-index: 1;
	}
}
